body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/*----------------------------------------*/


.triangle {
    position: relative;
    background: #ecd8bd;
    height: 50vh;
    z-index: 1; /* Assegna uno z-index maggiore */
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 41px 41px 0 41px;
    border-color: #ecd8bd transparent transparent transparent;
    left: 87%;
    transform: translateX(-50%) translateY(100%);
}

.triangle2 {
    position: relative;
    background: #d4c0a5;
    height: 50vh;
    z-index: 0; /* Assegna uno z-index inferiore */
}

.triangle2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 41px 41px 0 41px;
    border-color: #d4c0a5 transparent transparent transparent;
    left: 87%;
    transform: translateX(-50%) translateY(100%);
}
